/* Poppins */
@font-face {
	font-family: "Poppins";
	src: url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto&display=swap");
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	font-display: swap;
}

@font-face {
	font-family: "Poppins";
	src: url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto&display=swap");
	font-weight: 700;
	font-style: normal;
	font-stretch: normal;
	font-display: swap;
}

/* Playfair Display */
@font-face {
	font-family: "Playfair Display";
	src: url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Poppins:wght@400;700&family=Roboto&display=swap");
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	font-display: swap;
}

@font-face {
	font-family: "Playfair Display";
	src: url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Poppins:wght@400;700&family=Roboto&display=swap");
	font-weight: 700;
	font-style: normal;
	font-stretch: normal;
	font-display: swap;
}
